:root{
    --primaryColor:rgb(88, 180, 166);
    --secondaryColor1:rgb(55, 173, 241);
    --secondaryColor2:black;
    --baseColor:white;
}

.col.left{
    height: 100vh;
    background-color:var(--secondaryColor1);
    align-content: center;
    justify-content: center;
    display: flex;
}
.heading{
    margin-top: 40%;
}
span{
    color: var(--baseColor);
}
.row.upstrap{
    height: 33%;
    
}
.row.mainWindow{
    height: 45%;
}
.row.downStrap{ 
    height: 20%
} 

.outer-rectangle{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color:var(--secondaryColor2);
}
.inner-rectangle{
    padding: 10;
    margin: 10;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: var(--primaryColor);

}

.upperStrap{
    justify-content: center;
    align-items: flex-end;
    display: flex;
    margin-top: 21.5vh;
    margin-left: 30px;
    height: 35%;
    width: 70%;
    border-radius: 10px;
    background-color: black; 
}
.lowerStrap{
    margin-left: 30px;
    height: 60%;
    width: 70%;
    border-radius: 10px;
    background-color: black; 
}
.timer{
    height: 33%;
    display: flex;
}
.time{
    height: 33%;
    display: inline-block;
    align-items: center;
    margin-left: 40px;
}


#timer-btn{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    margin-left: 40%;
}
#time-btn{
    background-color: grey;
    border-radius: 40px;
    cursor: pointer;  
    /* display: inline-block; */
 }
#msg-btn{
    background-color: grey;
    border-radius: 40px;
    cursor: pointer;  
}
#music-btn{
    background-color: grey;
    border-radius: 40px;
    cursor: pointer;   
} 
.message-top{ 
    padding: 10; 
    margin: 10;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: var(--primaryColor);
    display: none;   
}
#msg-list{
    height: 90%;
    width: 90%;
    border-radius: 10px;
}
.msg1{
    height: 20px;
}  
.playMusic{
    display: none;
}
.material-icons{
    color: var(--primaryColor);
}
