
:root{
    --primaryColor:rgb(88, 180, 166);
    --secondaryColor1:rgb(55, 173, 241);
    --secondaryColor2:black;
    --secondaryColor3:rgb(103, 113, 114);
    --baseColor:rgb(196, 202, 202);
}

.col.left{
    height: 100vh;
    background-color:var(--secondaryColor1);
    align-content: center;
    justify-content: center;
    display: flex;
}
.heading{
    margin-top: 40%;
}
span{
    color: var(--baseColor);
}
.row.upstrap{
    height: 33%;
    
}
.row.mainWindow{
    height: 45%;
}
.row.downStrap{ 
    height: 20%
} 

.outer-rectangle{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color:var(--secondaryColor2);
}
.inner-rectangle{
    padding: 10;
    margin: 10;
    height: 90%;
    width: 90%;
    border-radius: 10px;
    background-color: var(--baseColor);

}

.upperStrap{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 21.5vh;
    margin-left: 45px;
    /* margin-right: 20px; */
    height: 35%;
    width: 60%;
    border-radius: 10px;
    background-color: var(--secondaryColor2); 
}
.lowerStrap{
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    /* margin-right: 20px; */
    height: 60%;
    width: 60%;
    border-radius: 10px;
    background-color:var(--secondaryColor2); 
}

.timer{
    height: 80%;
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
}
.time{
    height: 20%;
   
}
#timer-btn{
    background:none;
    border:none;
    margin:0;
    color:var(--secondaryColor2);
    
    height: 29px;;
    cursor: pointer;
    margin-left: 40%;
    margin-top:10px;
}
#time-btn{
    background-color:var(--secondaryColor3);
    border-radius: 40px;
    border: none;
    color: var(--primaryColor);
   
 }
#msg-btn{
    background-color: var(--secondaryColor3);
    color: var(--primaryColor);
    border:none;
    border-radius: 40px;
}
#music-btn{
    background-color:var(--secondaryColor3);
    color: var(--primaryColor);
    border-radius: 40px;
    border:none;
} 
.message-top{ 
    height: 80%;
    display: flex;
    border-radius: 10px;
    background-color: var(--baseColor);
    display: none;   
}
#msg-list{
    height: 90%;
    width: 90%;
    border-radius: 10px;
}
.msg1{
    height: 20px;
}  
.playMusic{
    display: none;
    background-color: var(--baseColor);
}

#timedisplay{
    
    margin-left: 25%;
}
#daydisplay{
   
    margin-left: 5%;
}

.stopwatch{
    height: 80%;
    display: flex;
    display: none;
    text-align: center;
    
}
.full-msg{
    height: 80%;
    display: flex;
    justify-content: center;
    display: none;
}
.container {
    border: none;
    background-color:var(--secondaryColor1);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color:var(--baseColor);;
    background-color: var(--secondaryColor1);
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
.message-top{
    margin: 0 0;
    max-width: 240px;
    max-height:200px;
    overflow-y: scroll;
    display: none;
    /* padding: 0 20px; */
  }
  #msg1,#msg2,#msg3,#msg4{
      cursor: pointer;
  }
  #reset-btn,#start-btn,#lap-btn{
    background-color:var(--secondaryColor3);
    /* color: var(--primaryColor); */
    border-radius: 10px;
     border: none;
  }
#backbutton1,#backbutton2{
    cursor: pointer;
}
.navbar{
    height: 30px;
}
span{
    cursor: pointer;
}
.lapsShows{
    height: 80%;
    display: flex;
    justify-content: center;
    display: none;
}
