:root{
    --primaryColor:rgb(141, 167, 163);
    --secondaryColor1:rgb(55, 173, 241);
    --secondaryColor2:black;
    --baseColor:white;
}
/* .mainBox{
    height: 100vh;
    width: 50%;
    position: absolute;
}
.mainBox.leftBox{
    background-color:var(--secondaryColor1);
    text-align: center;
}
.mainBox.rightBox{
    background-color:var(--baseColor);
    /* float:right; */
    /* margin-left: 50%;
}
#name{
    font-weight: bold;
    font-family: 'Times New Roman', Times;
    font-size: 3em;
    margin-top: 5em;
    
}
.changeNameColor{
    color:var(--baseColor);
}
.container{
    background-color: blue;
} */ 
.col.left{
    height: 100vh;
    background-color:var(--secondaryColor1);
    text-align: center;
}
h1{
    margin-top: 50%;
}
span{
    color: var(--baseColor);
}
.row.upstrap{
    height: 33%;
    
}
.row.mainWindow{
    height: 33%;
}
.row.downStrap{
    height: 33%;
}
.implementation{
    background-color: brown;
    border-radius: 5%;
}
.upstrap1{
    background-color: black;
    border-radius: 5%;
    height: 40%;
   margin-top:20%;
}
.downstrap1{
    background-color: black;
    border-radius: 5%;
    height: 40%;
}